:root{
    --color-black:#131D27;
    --whitetext:#fff;
    --btngradient:  linear-gradient(to bottom, #cf55c2, #e14aab, #ed4493, #f3437b, #f34963);
    --btngradienthover: linear-gradient(to top, #cf55c2, #e14aab, #ed4493, #f3437b, #f34963);
    --rustyred: #F24966;

    --fontOutfit: 'Outfit', sans-serif;
    --fontweight300:300;
    --fontweight400:400;
    --fontweight700:700;

    --fontsize20:1.25rem;
    --fonth1:5rem;
    --fonth2:3.125rem;
    --fonth3:3.125rem;
    --fonth4:2.188rem;
    --fonth5:1.563rem;
    --btnfont:1.563rem;
    --fontsize30:1.875rem;
    --fontparg22:1.375rem;
    --fonticon:2.5rem;
    --margin15:1.25rem;

    --padding10:0.625;
    --padding30:1.875;
    --padding150:9.375rem;
    --radius30:1.875rem;
} 


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

body {
    background-color: var(--color-black);
    font-family: var(--fontOutfit);
    font-weight: var(--fontweight400);
    font-size: 100%;
}

h1{
    font-size:var(--fonth1) ;
    margin-bottom: var(--margin15);
}
h2{
    color: var(--color-black);
    font-size: var(--fonth2);
    font-weight: var(--fontweight700);
    margin-bottom: var(--margin15);
}
h3{
    font-size: var(--fonth3);
    font-weight: var(--fontweight400);
    margin-bottom: var(--margin15);
}
h4{
    font-size: var(--fonth4);
    font-weight: var(--fontweight500);
}

img{
    max-width: 100%;
}
.ptb{
    padding-top: var(--padding150);
    padding-bottom: var(--padding150);
}

.pt150{
    padding-top:var(--padding150);
}
.pb150{
    padding-bottom:var(--padding150);
}
.btn-primary{
    background-image: var(--btngradient);
    border-width:0;
    font-size: var(--btnfont);
    border-radius: var(--radius30);
    padding: var(--padding10 --padding30);
    padding: 10px 30px;
}
.btn-primary:hover{
    background-image: var(--btngradienthover);
}



@media (min-width:1600px) {
    .container{
        max-width: 1600px;
    }
}

header{
    background-color: var(--color-black);
}

.navbar-brand img{
    width: 150px;
}
.navbar-collapse{
    justify-content: end;
}
.navbar-nav li{
    padding: 0 1.5rem;
    font-size: var(--fontsize20);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--whitetext);
}


.main-banner {
    padding: 150px 0 100px 0;
    color: #fff;
}
.about {
    font-size: var(--fontparg22);
    background-image: url(../images/about-left.png), url(../images/about-right.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}
.about h5{
    color: var(--rustyred);
    font-size: var(--fonth5);
}

ul.skill-data{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    flex-grow: 1;
    list-style-type: none;
    padding:20px 0;
    margin: 0;
    justify-content: center;
}
ul.skill-data  li {
    min-width:234px;
    padding: 10px;
}
.skill-box{
    background-color: #1E2A36;
    border-radius: 30px;
    padding:15px 25px;
    min-height: 82px;
    display: flex;
    align-items: center;
}
.skill-icon {
    min-width: 46px;
}
.skill-name{
    padding-left: 20px;
}

.experience-sec ul{
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: none;
    position: relative;
}

.experience-sec ul::before{
    background-color: var(--rustyred);
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    width: 1px;
    height: 100%;
}
.experience-sec ul li{
    display: flex;
    padding-left: 50px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.experience-sec ul li::before {
    content: "\f0b1";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--rustyred);
    font-size: 30px;
    left: -15px;
    top: 50%;
    margin-top: -22px;
}
.company-details{
    flex-grow: 1;
}
.year {
    background-color: #CF55C2;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: var(--fontsize30);
    font-weight: var(--fontweight300);
    display: inline-block;
    min-width: 300px;
    text-align: center;
}
.experience-sec ul li h4{
    margin-bottom: 0;
}
.experience-sec ul li .company-post{
    font-size: var(--fontsize30);
    font-weight: var(--fontweight300);
    color: #C5C5C5;
}

.education-sec.experience-sec ul li::before {
    content: "\f19d";

}

.portfolio-sec .item {
	border-radius: 50px;
	box-shadow: 0 2px 5px #ccc;	
	overflow: hidden;
	margin: 0 5px;
    margin-bottom: 10px;
    position: relative;
}
.port-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	background-color: rgba(242,73,102,0.8);
    opacity: 0;
    transition:all ease-in-out 0.5;
}
.portfolio-sec .item:hover .port-title{
    opacity: 1;
}
.port-title a {
	color: #fff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	align-items: center;
	font-size: 25px;
}
.contacticon{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 130px;
    background-color: #212F3E;
    font-size:var(--fonticon);
}
.contact-info{
    padding-top: 50px;
}
.contact-info h4{
    margin-top: 20px;
    margin-bottom: 0;
}

.owl-nav {
    position: absolute;
    right: 0;
    top: -71px;
    margin: 0;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    font-size: 0;
    line-height: 0;
    margin: 0 5px;
    
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
}

.owl-carousel .owl-nav button.owl-prev span::before, .owl-carousel .owl-nav button.owl-next span:before {
    content: "\f053";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--rustyred);
    font-size: 30px;
}
.owl-carousel .owl-nav button.owl-next span:before {
    content: "\f054";
}

footer{
    background-color: var(--rustyred);
    color: var(--whitetext);
    padding: 20px 0;
    font-size: 1.25rem;
}

.social-footer{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
}
.social-footer li{
    padding-left: 10px;
}
.social-footer li a{
    color: var(--whitetext);
    font-size: var(--fonticon);
}




@media (max-width:1440px) {
:root{
    --fonth4:1.5rem;
    --fonticon:2rem;
    --fontparg22:1.2rem;   
}
.year {
	padding: 10px 30px;
	min-width: 250px;
}
.contacticon {
	width: 100px;
	height: 100px;
	line-height: 100px;
}
}


@media (max-width:1199px) {
:root{
    --fonth1:4rem;
    --fonth3:2.2rem;
}

}

@media (max-width:991px) {
    :root{
        --fonth1:3rem;
        --fonth2:2.5rem;
        --fonth3:2rem;
        --btnfont:1rem;
        --fontsize30:1.5rem;
        --padding150:6rem;
    }
    .navbar{
        padding-bottom: 0;
    }
    .navbar-nav li {
        padding: 0.5rem 0.5rem;
        text-align: center;
        border-bottom: 1px solid #424242;
    }
    ul.skill-data li {
        min-width: 200px;
    }
    .skill-box {
        padding: 10px 25px;
        min-height: 72px;
    }
    .skill-icon {
        min-width: 36px;
        width: 36px;
    }
    .year {
	min-width: 220px;
}

}
@media (max-width:767px) {
    :root{
        --fontsize30: 1.2rem;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255,255,255,1);
        border-color: rgba(255,255,255,1);
        padding: 7px 12px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .about h5{
        padding-top: 30px;
    } 
    footer{
        text-align: center;
    }
    .social-footer {
        justify-content: center;
    }
    .profile-banner{
        padding-top: 30px;
    }
    .experience-sec ul {
        padding-left: 40px;
    }
    .experience-sec ul::before {
        left: 40px;
    }
    .experience-sec ul li {
        flex-wrap: wrap;
    }
    .company-details {
        padding-bottom: 15px;
        width: 100%;
    }
    .year {
        min-width: 170px;
    }
    .skill-name {
        padding-left: 10px;
    }
    .skill-icon {
        min-width: 30px;
        width: 30px;
    }
    ul.skill-data li {
        min-width: auto;
    }
    
}